* {
  margin: 1px;
}
h1 {
  font-size: 1.7rem;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1.5%;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  resize: vertical;
}

.input-section {
  width: 800px;
}
h3 {
  font-size: 1rem;
}
